fastapi==0.110.0
uvicorn==0.27.0
pydantic>=2.6.0
pandas>=2.2.0
numpy>=1.26.4
scikit-learn>=1.4.2
motor==3.3.2
pymongo==4.6.3
python-multipart==0.0.9
python-dotenv>=1.0.1
certifi>=2024.2.2
matplotlib>=3.8.0
seaborn>=0.13.0
dnspython>=2.6.0